/* Common Shared Styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary-color {
    color: #FD6E0A;
}

* {}

main section {
    margin-top: 130px;
}


.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* nav related style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 225px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header {
    background: #FFF8F3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 575px;
}

.profile-pic {
    width: 584px;
}

.banner-greetings {
    margin-bottom: 0px;
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    margin-top: 5px;
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-para {
    max-width: 600px;
}

/* main section style */

/* about section style */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-para {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

main {
    max-width: 1100px;
    margin: auto;
}

.profession-para {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

#what-i-do-para {
    padding: 30px 150px;
    margin: 0px;
}

#what-margin-bottom {
    margin-bottom: 0px;
}

.skill-container {
    display: flex;
    text-align: center;
    gap: 24px;
}

.skills {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    gap: 24px;
}

.skill-para {
    color: #757575;
    line-height: 28px;
}

/* Resume section style */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-para,
.resume-subtitle {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 20px;

}

.resume-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px 0px
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style */

footer {
    display: flex;
    margin-top: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
}

.social-links a {
    margin-right: 25px;
}